@page "/exercise-06-01"
@using Exercise1.Classes.Chapter_06_Collections





<h3>TO-DO</h3>
<input @bind="description" placeholder="Enter a value."/>
<button class="btn-sm btn-success" @onclick="AddTodo">+</button>
<ul class="no-list-style">
    @foreach (var todo in todos.Get()) 
    { 
        <li>
            <input class="vertically-align" type="checkbox" @onchange="@(e => CheckboxChanged(todo))" @attributes="todo.GetCheckboxAttributes()" />
            <span @attributes="todo.GetDescriptionAttributes()">@todo.GetDescription()</span>
            <input class="btn btn-link vertically-align" type="button" value="Delete" @onclick="@(e => Delete(todo))" />
        </li>
    }
</ul>





@code {

    Todos todos = new Todos();
    string description;


    void AddTodo()
    {
        todos.Add(description);
        description = string.Empty;
    }

    void CheckboxChanged(Todo todo)
    {
        todo.CheckAttributes();
    }

    void Delete(Todo todo)
    {
        todos.Remove(todo);
    }

}
